:root {
    /* --primary: #004C8C; */
    --primary:#39A0ED;
    --primary_hover: #399fedc6;
    --green: #2DD881;
    --green_hover: #2dd880c0;
    --yellow: #FFCA3A;
    --yellow_hover: #ffca3ac2;
    /* --highligth: #FF595E; */
    --color_hover: #757575;
    --background: #FEFDFF;
    --background_dark: #052238; 
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #FEFDFF;
}

.mo-navbar {
    background-color: var(--background);
    height: 6rem;
}

#title {
    color: var(--primary); 
    font-weight: 800;
    font-size: 1.7rem;
}

#logo{
    width: 14rem;
}

#home {
    padding-left: 4rem;
    padding-right: 4rem;
}

#routes {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2rem;
    gap: 1em;
}

.fleet {
    margin-left: 0.8rem;
}

.btn-vehicle {
    background-color: var(--yellow);
    width: 7rem;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
}

.btn-vehicle:hover {
    background-color: var(--yellow_hover) !important;
    color: var(--color_hover);
}

.btn-vehicle.disabled {
    background-color: var(--yellow_hover);
    border-color: var(--yellow_hover);
}

.btn-add-employee {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.btn-add-employee:hover {
    background-color: var(--yellow_hover) !important;
    border-color: var(--yellow_hover) !important;
}